@import 'tailwindcss';

@property --tw-font-weight {
    syntax: '*';
    inherits: false;
}

.sidebar-menu {
	display: flex;
	flex-direction: column;
	background-color: var(--sidebar-color);
	width: 45%;
	height: 100vh;
	position: fixed;
	z-index: 99;
	right: 0;
}


.sidebar-link {
	font-size: var(--text-xl) /* 1.25rem = 20px */;
	line-height: var(
		--tw-leading,
		var(--text-xl--line-height) /* calc(1.75 / 1.25) ≈ 1.4 */
	);
	--tw-font-weight: var(--font-weight-semibold) /* 600 */;
	font-weight: var(--font-weight-semibold) /* 600 */;
	color: var(--color-white) /* #fff = #ffffff */;
	opacity: 0.8;
	padding: 5px 12px;
}

.sidebar-link:hover {
	opacity: 1;
	transform: scale(1.1);
	transform-origin: left;
}

.sidebar-link.active {
	font-size: var(--text-2xl) /* 1.25rem = 20px */;
	line-height: var(
		--tw-leading,
		var(--text-2xl--line-height) /* calc(1.75 / 1.25) ≈ 1.4 */
	);
	font-weight: var(--font-weight-black);
	opacity: 1;
}

@media (width >= 48rem) {
	.sidebar-menu {
		width: 20%;
	}

	.sidebar-link {
		font-size: var(--text-xl) /* 1.25rem = 20px */;
		line-height: var(
			--tw-leading,
			var(--text-xl--line-height) /* calc(1.75 / 1.25) ≈ 1.4 */
		);
	}

	.active {
		font-size: var(--text-2xl) /* 1.25rem = 20px */;
		line-height: var(
			--tw-leading,
			var(--text-2xl--line-height) /* calc(1.75 / 1.25) ≈ 1.4 */
		);
	}
}
